<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 
  <settings>
    <setting useStatementNamespaces="true"/>
    <setting validateSqlMap="false"/>
  </settings>
  
  <providers resource="Service\Config\Persistence\providers.config"/>
  
	<!-- Database connection information -->
	<database>
    <provider name="oracleProvider"/>
		<dataSource name="CATOSDataSource" connectionString="${connectionString}"/>
	</database>

  <!-- TypeHandlers COMMON (MANDATORY) AREA START-->
  <alias>
    <typeAlias alias="YesNoBool" type="Tsb.Fontos.Core.Data.IBatis.Type.YNBoolTypeHandlerCallback, Tsb.Fontos.Core"/>
  </alias>
  <typeHandlers>
    <typeHandler  dbType="Varchar" type="bool" callback="YesNoBool"/>
  </typeHandlers>
  <!-- TypeHandlers COMMON (MANDATORY) AREA END-->
  
	<sqlMaps>
    
    <!-- BIZ COMMON (MANDATORY) AREA START-->
    <sqlMap embedded="Tsb.Catos.Cm.Core.Security.Service.Map.CTSecurityMap-MSSQL.xml,         Tsb.Catos.Cm.Core" />
    
		
	<sqlMap embedded="Tsb.Catos.Cm.Core.Colors.Service.Map.GeneralMap.xml,              Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.Codes.Service.Map.CodeGeneralMap.xml,           Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.Grid.Service.Map.FilterStoreGeneralMap.xml,     Tsb.Catos.Cm.Core" />
    <!-- BIZ COMMON (MANDATORY) AREA END-->

    <!-- ========================= YARD DEFINE MAP START ==================================== -->
    <!--YARD DEFINE COMMON START-->
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.YardDefineCommonMap.xml,           Tsb.Catos.Cm.Core" />
    <!--YARD DEFINE COMMON END-->

    <!--TERMINAL GROUP START-->
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.TerminalMap.xml,                   Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.TerminalCapacityMap.xml,           Tsb.Catos.Cm.Core" />
    <!--TERMINAL GROUP END-->
    <!-- ========================= YARD DEFINE MAP END   ==================================== -->
    
    <!-- BUSINESS APPLICATION AREA START-->
    <sqlMap embedded="Tsb.Product.WB.Service.Sample.Map.SingleGridMap.xml,   Tsb.Product.WB.Service" />
    <!-- BUSINESS APPLICATION AREA END-->
	</sqlMaps>

</sqlMapConfig>
