<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<settings>
		<setting useStatementNamespaces="true"/>
		<setting validateSqlMap="false"/>
	</settings>

	<providers resource="Service\Config\Persistence\providers-MSSQL.config"/>

	<!-- Database connection information -->
	<database>
		<provider name="sqlServerProvider"/>
		<dataSource name="CATOSDataSource" connectionString="${connectionString}"/>
	</database>

	<!-- TypeHandlers COMMON (MANDATORY) AREA START-->
	<alias>
		<typeAlias alias="YesNoBool" type="Tsb.Fontos.Core.Data.IBatis.Type.YNBoolTypeHandlerCallback, Tsb.Fontos.Core"/>
		<typeAlias alias="StringToColorType" type="Tsb.Fontos.Core.Data.IBatis.Type.StringToColorTypeHandlerCallback, Tsb.Fontos.Core"/>
		<typeAlias alias="CustomDouble" type="Tsb.Fontos.Core.Data.IBatis.Type.OracleDoubleTypeHandlerCallback, Tsb.Fontos.Core"/>
	</alias>

	<!--<typeHandlers>
    <typeHandler  dbType="Varchar2" type="bool" callback="YesNoBool"/>
  </typeHandlers>-->
	<!-- TypeHandlers COMMON (MANDATORY) AREA END-->

	<sqlMaps>

		<!-- BIZ COMMON (MANDATORY) AREA START-->
		<sqlMap embedded="Tsb.Catos.Cm.Core.Security.Service.Map.CTSecurityMap-MSSQL.xml,                   Tsb.Catos.Cm.Core" />
		<sqlMap embedded="Tsb.Catos.Cm.Core.Codes.Service.Map.CodeGeneralMap-MSSQL.xml,                     Tsb.Catos.Cm.Core" />
		<!--<sqlMap embedded="Tsb.Catos.Cm.Core.Container.Service.Map.DGMap.xml,                          Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.Container.Service.Map.GeneralMap.xml,                     Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.Colors.Service.Map.GeneralMap.xml,                        Tsb.Catos.Cm.Core" />
   
    <sqlMap embedded="Tsb.Catos.Cm.Core.VesselSchedule.Service.Map.VesselScheduleGeneralMap.xml,  Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.VesselSchedule.Service.Map.VesselScheduleRenewalMap.xml,  Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.RailSchedule.Service.Map.RailScheduleMap.xml,             Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.ContainerDetail.Service.Map.ContainerDetailMap.xml,            Tsb.Catos.Cm.ContainerDetail" />
    <sqlMap embedded="Tsb.Catos.Cm.CntrDamageCheck.Service.Map.DamageCheckCntrMap.xml,            Tsb.Catos.Cm.CntrDamageCheck" />-->
		<sqlMap embedded="Tsb.Catos.Cm.Core.Grid.Service.Map.FilterStoreGeneralMap-MSSQL.xml,               Tsb.Catos.Cm.Core" />
		<sqlMap embedded="Tsb.Catos.Cm.Core.Grid.Service.Map.ColSettingStoreGeneralMap-MSSQL.xml,           Tsb.Catos.Cm.Core" />
		<!--<sqlMap embedded="Tsb.Catos.Cm.Core.ImdgSegregation.Service.Map.ImdgSegregationMap.xml,       Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.Configuration.Biz.Service.Map.BizConfigMap.xml,           Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.Workspace.Service.Map.WorkspaceMap.xml, Tsb.Catos.Cm.Core"/>-->
		<!-- BIZ COMMON (MANDATORY) AREA END-->


		<!-- BUSINESS APPLICATION AREA START-->
		<sqlMap embedded="Tsb.Product.WB.Service.WeightBridge.Map.MainMap-MSSQL.xml,          Tsb.Product.WB.Service" />
		<sqlMap embedded="Tsb.Product.WB.Service.WeightBridge.Map.JobMap-MSSQL.xml,          Tsb.Product.WB.Service" />
		<sqlMap embedded="Tsb.Product.WB.Service.WeightBridge.Map.WeightBridgeMap-MSSQL.xml,          Tsb.Product.WB.Service" />
		<!--<sqlMap embedded="Tsb.Product.WB.Service.WeightBridge.Map.MainMap.xml,  Tsb.Product.WB.Service" />-->
		<!--<sqlMap embedded="Tsb.Fontos.Sample.Service.FormTemplate.Map.SingleGridMap.xml,  Tsb.Fontos.Sample.Service" />
    <sqlMap embedded="Tsb.Fontos.Sample.Service.FormTemplate.Map.MultiGridMap.xml,   Tsb.Fontos.Sample.Service" />
    <sqlMap embedded="Tsb.Fontos.Sample.Service.FormTemplate.Map.DetailMap.xml,      Tsb.Fontos.Sample.Service" />
    <sqlMap embedded="Tsb.Fontos.Sample.Service.Etc.Map.IBatisMap.xml,               Tsb.Fontos.Sample.Service" />
    <sqlMap embedded="Tsb.Fontos.Sample.Service.Etc.Map.C3ITClientMap.xml,           Tsb.Fontos.Sample.Service" />
    <sqlMap embedded="Tsb.Fontos.Sample.Service.Etc.Map.UserSecurityMap.xml,         Tsb.Fontos.Sample.Service" />-->
		<!--<sqlMap embedded="Tsb.Fontos.Sample.Service.Grids.Map.TSpreadGridMap.xml,        Tsb.Fontos.Sample.Service" />-->
		<!--<sqlMap embedded="Tsb.Fontos.Sample.Service.Etc.Map.BatchTestMap.xml,            Tsb.Fontos.Sample.Service" />-->
		<!--<sqlMap embedded="Tsb.Fontos.Sample.Service.FontosControl.Map.TChartMap.xml,     Tsb.Fontos.Sample.Service" />
    <sqlMap embedded="Tsb.Fontos.Sample.Service.Grids.Map.TSpreadDataControlMap.xml, Tsb.Fontos.Sample.Service" />
    <sqlMap embedded="Tsb.Fontos.Sample.Service.Etc.Map.DataTableMap.xml,            Tsb.Fontos.Sample.Service" />
    <sqlMap embedded="Tsb.Fontos.Sample.Service.Etc.Map.BatchTestMap.xml,            Tsb.Fontos.Sample.Service" />
    <sqlMap embedded="Tsb.Fontos.Sample.Service.Vessel.Map.VesselInfoMap.xml,        Tsb.Fontos.Sample.Service" />
    <sqlMap embedded="Tsb.Fontos.Sample.Service.Etc.Map.BulkInsertMap.xml,           Tsb.Fontos.Sample.Service" />
    <sqlMap embedded="Tsb.Fontos.Sample.Service.Grids.Map.PropertyColumnGridMap.xml, Tsb.Fontos.Sample.Service" />-->
		<!-- BUSINESS APPLICATION AREA END-->


		<!-- ========================= YARD DEFINE MAP START ==================================== -->
		<!--YARD DEFINE COMMON START-->
		<sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.YardDefineCommonMap-MSSQL.xml,           Tsb.Catos.Cm.Core" />
		<!--YARD DEFINE COMMON END-->

		<!--TERMINAL GROUP START-->
		<sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.TerminalMap-MSSQL.xml,                   Tsb.Catos.Cm.Core" />
		<sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.TerminalCapacityMap-MSSQL.xml,           Tsb.Catos.Cm.Core" />
		<!--TERMINAL GROUP END-->

		<!--TERMINAL LAYOUT GROUP START-->
		<!--<sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.TerminalLayoutMap.xml,             Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.TerminalLayoutPositionMap.xml,     Tsb.Catos.Cm.Core" />-->
		<!--TERMINAL LAYOUT GROUP END-->


		<!--BERTH GROUP START-->
		<!--<sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.BerthMap.xml,                      Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.BerthOverlapMap.xml,               Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.BerthTypeMap.xml,                  Tsb.Catos.Cm.Core" />-->

		<!--BERTH GROUP END-->

		<!--BLOCK GROUP START-->
		<!--<sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.BlockMap.xml,                      Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.BlockBayMap.xml,                   Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.BlockRowMap.xml,                   Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.BlockSlotMap.xml,                  Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.BlockUseMap.xml,                   Tsb.Catos.Cm.Core" />-->
		<!--BLOCK GROUP END-->

		<!--<sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.AreaMap.xml,                       Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.BayRowUsageMap.xml,                Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.BittMap.xml,                       Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.BlockTierPriorityMap.xml,          Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.BufferSlotMap.xml,                 Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.CarrierMap.xml,                    Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.ChassisMap.xml,                    Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.EquipmentMap.xml,                  Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.FacilityMap.xml,                   Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.GateGridMap.xml,                   Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.GCMap.xml,                         Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.RailTerminalMap.xml,               Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.RailTrackMap.xml,                  Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.RMRCMap.xml,                       Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.TPCoverageMap.xml,                 Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.YardIDMap.xml,                     Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.YardZoneMap.xml,                   Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.YardDefine.Service.Map.ZoneIDMap.xml,                     Tsb.Catos.Cm.Core" />-->
		<!-- ========================= YARD DEFINE MAP END   ==================================== -->

		<!-- ============================== VESSEL DEFINE MAP START ============================== -->

		<!-- VESSEL PARTICULAR GROUP START -->
		<!--<sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.VesselParticularMap.xml,       Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.WeightConstantMap.xml,         Tsb.Catos.Cm.Core" />-->
		<!-- VESSEL PARTICULAR GROUP END -->

		<!-- LASHING GROUP START -->
		<!--<sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.LashingMap.xml,                Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.LashPatternMap.xml,            Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.LashPermissibleMap.xml,        Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.LashBridgePositionMap.xml,     Tsb.Catos.Cm.Core" />-->
		<!-- LASHING GROUP END -->

		<!--<sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.VesselHatchMap.xml,            Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.VesselBayMap.xml,              Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.VesselRowMap.xml,              Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.VesselTierMap.xml,             Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.VesselCenterOfGravityMap.xml,  Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.VesselHatchCoverMap.xml,       Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.VesselSOLASMap.xml,            Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.VesselIMDGMap.xml,             Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.VesselHRowPositionMap.xml,     Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.VesselSlotMap.xml,             Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.VesselHatchRelationMap.xml,    Tsb.Catos.Cm.Core" />

    <sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.TankCapacityMap.xml,           Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.TankVolumeMap.xml,             Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.HydrostaticMap.xml,            Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.CrossCurveMap.xml,             Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.FrameMap.xml,                  Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.SValueMap.xml,                 Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.BonjeanMap.xml,                Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.WindForceMap.xml,              Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.VisibilityMap.xml,             Tsb.Catos.Cm.Core" />
    <sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.PropellerMap.xml,              Tsb.Catos.Cm.Core" />-->
		<!--<sqlMap embedded="Tsb.Catos.Cm.Core.VesselDefine.Service.Map.LashingMap.xml,                Tsb.Catos.Cm.Core" />-->
		<!-- ============================== VESSEL DEFINE MAP END ============================== -->

		<!-- ============================== VIEW STATE MAP START ============================== -->
		<!--<sqlMap embedded="Tsb.Catos.Cm.ViewState.Service.Map.ViewStateMap.xml,            Tsb.Catos.Cm.ViewState" />-->
		<!-- ============================== VIEW STATE MAP END ============================== -->

		<!-- ============================== EXCEL IMPORT MAP START ========================== -->
		<sqlMap embedded="Tsb.Catos.Cm.Core.Grid.Service.Map.TPrintInfoStoreGeneralMap.xml,           Tsb.Catos.Cm.Core" />
		<!-- ============================== EXCEL IMPORT MAP END ============================ -->
		<!-- BUSINESS APPLICATION AREA START-->
		<sqlMap embedded="Tsb.Product.WB.Service.Popup.Map.TruckListPopupMap-MSSQL.xml,   Tsb.Product.WB.Service" />
		<!-- BUSINESS APPLICATION AREA END-->
	
	
	</sqlMaps>

</sqlMapConfig>
