<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="log4net"  type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="iBATIS">
      <section name="logging" type="IBatisNet.Common.Logging.ConfigurationSectionHandler, IBatisNet.Common" />
    </sectionGroup>
    <sectionGroup name="oracle">
      <section name="settings" type="Oracle.DataAccess.Client, Oracle.DataAccess" />
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="Context/FontosTp/ApplicationContext-FontosTp.xml" />
    </context>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
    </parsers>
  </spring>
  
  <iBATIS>
    <logging>
      <logFactoryAdapter type="IBatisNet.Common.Logging.Impl.Log4NetLoggerFA, IBatisNet.Common.Logging.Log4Net">
        <arg key="configType" value="external" />
      </logFactoryAdapter>
    </logging>
  </iBATIS>

  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%a] %-5p - %m%n" />
      </layout>
    </appender>

    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="logs_NET/daily_Tp.log" />
      <appendToFile value="true" />
      <maximumFileSize value="500KB" />
      <maxSizeRollBackups value="10" />
      <datePattern value="-yyyy-MM-dd" />
      <rollingStyle value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%a] %-5p - %m%n" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <root>
      <level value="ALL" />
      <!--<appender-ref ref="Console" />-->
      <appender-ref ref="RollingFile" />
    </root>

    <logger name="IBatisNet.DataMapper.Configuration.Statements.PreparedStatementFactory">
      <level value="ALL" />
    </logger>
  </log4net>
    
  <appSettings>
    <add key="ModuleInfo.ProductID" value="FT" />
    <add key="ModuleInfo.ProductName" value="FONTOS" />
    <add key="ModuleInfo.ModuleID" value="FTTP" />
    <add key="ModuleInfo.ModuleName" value="FontosTp" />
    <add key="ModuleInfo.ModuleTitle" value="Template" />
    <add key="ModuleInfo.PgmCode" value="TP" />
    <add key="ModuleInfo.CheckConfigDir" value="true" />
    <add key="File.LocalizationInfo" value="LocalizationInfo.xml" />
    <add key="File.ArchitectureInfo" value="ArchitectureInfo.xml" />
    <add key="File.SqlMapConfig" value="SqlMap-FontosTp.config" />
    <add key="Path.Environment" value="Environment" />
    <add key="Path.Persistence" value="Service\Config\Persistence" />
    <!--<add key="DeployInfo.DeployMode" value="DEVELOPMENT"/>-->
    <add key="DeployInfo.DeployMode" value="PRODUCTION" />
    <!--Optional -->
    <add key="File.SecurityPolicyInfo" value="SecurityPolicyInfo.xml" />
    <add key="File.ModuleInfo" value="ModuleInfo.xml" />
    <add key="File.Version" value="Version.xml" />
    <add key="File.SiteInfo" value="SiteInfo.xml" />
    <add key="File.RunEnvInfo" value="RunEnvInfo.xml" />
    <add key="File.MenuItem" value="MenuItem.xml" />
    <add key="File.MessagePolicyInfo" value="MessagePolicyInfo.xml" />
    <add key="File.PersistenceInfo" value="PersistenceInfo.xml" />
    <add key="File.HelpFile" value="TsbFontosTpHelp.chm" />
    <add key="File.UIStyleInfo" value="UIStyleInfo.xml" />
    <add key="Path.BizConfig" value="BizConfig" />
    <add key="Path.Context" value="Context" />
    <add key="Path.Grid" value="Grid" />
    <add key="Path.Grid.Sub.CellStyles.TsbSdk" value="Common\CellStyles-SDK" />
    <add key="Path.Grid.Sub.CellStyles.Fontos" value="Common\CellStyles-FONTOS" />
    <add key="Path.Log" value="logs_NET" />
    <add key="Path.Lib" value="Lib" />
    <add key="Path.Help" value="Help" />
    <add key="UseCatosConfig" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v3.5" />
    <supportedRuntime version="v3.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Lib\C1;Lib\FarPoint;Lib\Fontos;Lib\IBatis.Net;Lib\Log4.Net;Lib\ODP.Net\bin;Lib\Resources;Lib\Spring.Net" />
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.C1Ribbon.2" publicKeyToken="79882D576C6336DA" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.20092.178" newVersion="2.0.20092.178" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle>
    <settings>
      <add name="DllPath" value="Lib\ODP.Net\bin" />
      <add name="FetchSize" value="131072" />
      <add name="PromotableTransaction" value="promotable" />
      <add name="StatementCacheSize" value="10" />
      <add name="TraceFileName" value="Lib\ODP.Net\trace\odpnet.trc" />
      <add name="TraceLevel" value="63" />
      <add name="TraceOption" value="1" />
    </settings>
  </oracle>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>